.host-booking-queue{
    margin: 32px 16px;
    h3{
        margin-block-start: 20px;
        margin-block-end: 20px;
    }
    .number-guest{
        margin: 8px 0;
    }
    .buttons{
        margin-top: 8px;
    }
}

.booking-list {
    // display: grid;
    // grid-template-columns: auto auto auto auto;
    // gap: 20px;
    // width: max-content;
    // align-items: center;
    // text-align: center;

   
}