.exp-filter {
    background-color: $clr6;
    width: 870px;
    margin: 24px 0 0 0;
    border-radius: 40px;
    height: 88px;
    opacity: 0.9;
    
    // .svg-inline--fa.fa-w-16:hover{
    //     color: white;
    // }

.MuiInputBase-input {
     padding: 6px 5px 7px 5px;
}

.MuiInput-underline:before{
    width: 95%;
}
.MuiFormControl-root{
    border-right: 1px solid lightgrey;
    margin-left: 8px;
}

input#price{
    margin-left:8px;
}

.price-inputs{
    margin-block-start: 4px;
}

.price-title{
    margin-inline-start: 8px;
    color: rgba(0, 0, 0, 0.54);
    font-size: rem(12px);
}

.MuiButton-containedPrimary{
    margin-left: 16px;
    border-radius: 50%;
    padding: 24px 0;
    background-color: $clr1;

}

.svg-inline--fa.fa-w-16{
    color: #0C0409;
    font-size: 18px;
}

.MuiButton-containedPrimary:hover {
    background-color: $clr3;
    .svg-inline--fa.fa-w-16 {
        color: white;
    }
}

}


