.chat-sec {
    // justify-content: flex-end;
    align-items: flex-end;

    h3 {
        font-size: rem(16px);
        margin: 5px 5px 15px 0px;
    }

    // nsg btn/icon
    .MuiSvgIcon-root {
        // color: #4285F4;
        color: $clr3;
    }
    .toggle-chat-btn {
        * {
            padding: 12px;
            font-size: 60px;
            background-color: $clr1;
            color: $clr2;
            border-radius: 50%;
            margin-top: 5px;
        }
    }
    .toggle-chat-btn:hover {
        cursor: pointer;
    }

    .exp-chat {
        overflow: auto;
        height: 275px;
        background-color: #f1f1f1;
        padding: 10px;
        margin-top: 15px;
        box-shadow: 0 0 1px;

        .is-typing{
            *{
                font-size: rem(14px);
                margin-bottom: 0;
            }
            h4 {
                font-weight: 400;
            }
        }

        h3 {
            font-size: rem(16px);
            margin: 5px 5px 10px 0px;
            padding: 0px;
        }

        &.hide {
            display: block;
            visibility: hidden;
        }

        h5 {
            flex: 1;
        }

        .chat-send-btn {
            background-color: transparent;
            border: transparent;
        }

        .msgs-list {
            margin-top: 5px;
            .chatMsg {
                .msg-txt {
                    font-weight: 400;
                }
                border-radius: 5px;
                margin: 5px 0px 5px 0px;
                padding: 3px;
                padding-inline-start: 6px;
                background-color: $clr6;
                &.myMsg {
                    padding-inline-end: 5px;
                    text-align: right;
                    background-color: $clr3;
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 635px) {
    .chat-sec {
        .exp-chat {
            &.hide {
                display: none;
                visibility: hidden;
            }
        }
    }
}
