.exp-edit-form{
 
    text-align: center !important;
    list-style: none;
    #exp-description{
        width: 80vw;
    }

    input {
        width: 60vw
    }

    span {
        display: block;
    }

    .edit-gallery{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;

        .img-container{
            position: relative;
        }

        Button{
            z-index: 1;
            position: absolute;
            outline: transparent;
            background-color: rgb(216, 216, 216);
        }

        img {
            @include aspect-ratio(1, 1);
        }

    }
}