.full-stepper{
    width: 900px;
    display: grid;
    grid-template-columns: 0.5fr repeat(1, 1fr);
    min-height: 500px;
    margin: 80px 0 144px 0;
    
    
    
    
    .stepper{
        flex: 1;
        background-color: $clr1;
       
        padding: 64px 0;
        border-radius: 24px 0 0 24px;

        .MuiStepIcon-root.MuiStepIcon-active{
            color: $clr2;
            
        }
        .MuiStepConnector-lineHorizontal{
            display: none;
        }
   }
    }
    .form-stepper{
        flex: 2;
        background-color: #F0E9D8;
        
        padding: 64px 80px;
        border-radius: 0 24px 24px 0;
        
        span{
            font-size: 14px;
            // color: $clr4;   
        }

        input {
            border: solid 1px lightgray;
            background-color: #fff;
             text-align: left;
             padding: 8px 4px;
             margin: 4px 0 16px 0;
             width: 100%;
             font-size: 14px;
             
         }
         .add-line-menu{
             
             display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 8px;
            grid-row-gap: 8px;
        

            

            button{
               
                background-color: $clr1;
                color: $clr2;
                font-size: 18px;
                font-weight: 600;

                
                
            }
            input {
                border: solid 1px lightgray;
                background-color: #fff;
                 text-align: left;
                 padding: 8px 4px;
                 margin: 4px 0;
                 width: 100%;
                 font-size: 14px;
                 
             }

         }
         .MuiFormControl-root{
             width: 100%;
         }

         .MuiInput-underline:before{
             border: none;
         }


         

         
}

