.exp-edit-form{
 
    text-align: center !important;
    list-style: none;
    #exp-description{
        width: 80vw;
    }

    input {
        width: 60vw;
        text-align: center;
        padding: 5px;
        margin: 10px;
    }

    &span {
        display: block;
        padding: 5px;
        margin: 10px;
    }

    .edit-gallery{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;

        .img-container{
            position: relative;
        }

        Button{
            display: block;
            z-index: 1;
            position: absolute;
            outline: transparent;
            background-color: rgb(216, 216, 216);
        }

        img {
            @include aspect-ratio(1, 1);
        }

    }
}