.exp-details-container {
    @import "exp-gallery";
    @import "exp-booking";

    h2 {
        margin: 8px 0;
        font-size: rem(45px);
        font-weight: 500;
    }

    .exp-title-location {
        margin-bottom: 24px;
    }

    .carousel-gallery {
        display: none;
    }

    .exp-content {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0 0 4px 0px #6d6d6d;
        margin-bottom: 5px;
        position: relative;
        flex: 1;

        box-shadow: none;

        .MuiTab-wrapper {
            font-size: rem(16px);
        }
        .MuiTab-root {
            min-width: 200px;
        }

        .MuiAppBar-colorPrimary {
            background-color: transparent;
            color: $clr2;
            box-shadow: none;
        }

        .exp-details {
            flex: 1;
            margin: 0 56px 0 0;

            .owner {
                color: $clr1;
                text-decoration: none;
            }
        }

        .exp-reviews {
            .review-preview {
                box-shadow: none;
            }
            button {
                width: 25%;
                height: 40px;
                font-weight: 700;
                font-size: 12px;
                letter-spacing: 0.3em;
                background-color: transparent;
                color: $clr2;
                text-transform: uppercase;
                border: solid 1px $clr2;
                border-radius: 16px;
            }
        }
    }
    h3 {
        font-size: rem(28px);
        font-weight: 500;
        margin: 40px 0 24px 0;
    }

    p {
        font-size: rem(16px);
        margin-bottom: 40px;
        line-height: 1.6;
    }
    .google-maps {
        min-height: 350px;
        // margin-top: 20px;
        // padding-bottom: 200px;
        padding-left: 10px;
    }
}

.exp-menu {
    border: solid 1px #c1c1c1;
    border-radius: 16px;
    margin-left: -24px;
    padding: 16px 0;

    li {
        display: inline;
    }

    h5 {
        font-size: rem(18px);
        text-transform: uppercase;
        letter-spacing: 0.4em;
        margin-top: 64px;
        margin-bottom: 32px;
    }

    h1 {
        font-size: rem(16px);
        // text-transform: uppercase;
        line-height: 1.3;
        margin-top: 16px;
    }
    h2 {
        font-size: rem(12px);
        line-height: 1.3;
        margin-bottom: 16px;
        font-weight: 400;
        color: $clr4;
    }
    .side-menu {
        padding: 0 40px 0 0;
        margin-top: -40px;
        text-align: center;
    }
}

.exp-title-location {
    h6 {
        margin-bottom: 0;
        margin-left: 16px;
    }
}

.exp-details-host-avatar {
    padding-bottom: 8px;
    h6 {
        margin-bottom: 0;
        // margin-left: 12px;
    }
}

.parts-list {
    margin-top: 10px;
}

.add-review-text {
    width: 65%;

    textarea {
        border-radius: 16px;
        padding: 16px;
        font-size: rem(14px);
        font-family: "Roboto";
        border-color: #c1c1c1;
        outline: none;
    }
    .rate-line {
        margin-bottom: 8px;
    }
    h4 {
        font-weight: 500;
    }
}

.avatar-line {
    margin-bottom: 40px;
}
.exp-opening {
    margin-top: 15px;
    padding-right: 48px;

    .grid-icons {
        display: grid;
        grid-template-columns: repeat(4, 90px);
        grid-column-gap: 8px;
    }
    .exps-icons {
        p {
            font-size: rem(12px);
            margin: 8px 0;
        }
    }
}

@media (max-width: 635px) {
    .exp-details-container {
        .carousel-gallery {
            display: block;
        }
        .simple-gallery {
            display: none;
        }
        .image-gallery {
            width: 100vw;
        }
        .exp-details-content {
            flex-direction: column;
        }
    }
}

.image-gallery-icon:hover {
    color: #ffbb00 !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover,
.image-gallery-thumbnail:focus {
    outline: none !important;
    border: 4px solid #ffbb00 !important;
}

.image-gallery-icon:focus {
    outline: none !important;
}
