.exp-edit-form{
    text-align: center !important;

    #exp-description{
        width: 80vw;
    }

    .edit-gallery{
        grid-column: auto;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 20px;
    }
}