ul {
    padding-inline-start: 0;
}

.exp-card {
    box-shadow:0 2px 4px 0px rgba(0,0,0,0.2);
    flex: 1;
    margin: 0 8px 12px;
    // border-radius: 8px;
    overflow: hidden;
    border-radius: 16px;

    p {
        color: #8f8e87;
        // padding-left: 5px;
    }

    span {
        color: $clr1;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

// .exp-card:hover {
//     box-shadow: 11px 13px 6px 0px #0000005c;
// }

.exp-card-cont {
    justify-content: flex-end;
    overflow: hidden;
    // border-radius: 8px 8px 0 0;
}

.exp-card-desc {
    padding: 8px 16px 0px 16px;
    h3 {
        font-size: rem(16px);
        line-height: 1.3;
        
    }
    h4{
        font-weight: 400;
        font-size: rem(14px);
        color: $clr4;
        line-height: 1.3;
        height: 36px;
        margin-bottom: 30px;
    }
    h5{
        font-size: rem(16px);
        margin-top: 16px;
    }
}

.exp-card-desc:after {
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 95%; /* Change this to whatever width you want. */
    padding-top: 8px; /* This creates some space between the element and the border. */
    border-bottom: 0.2px solid lightgray; /* This creates the border. Replace black with whatever color you want. */
}

.img-in-div {
    z-index: 1;
    position: relative;
    height: 200px;
    object-fit: cover;
}

.exp-card-cont > img {
    transition: transform 0.8s ease;
}

// .exp-card-cont:hover > img{
//     transform: scale(1.2);
// }

.exp-card a:hover img:first-child {
    transform: scale(1.2);
}

.div-in-image {
    background-color: white;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    // z-index: 2;
    position: absolute;
    align-self: flex-end;
}

.price-in-image {
    background-color: white;
    font-weight: 700;
    margin: 5px;
    padding: 5px;
    z-index: 2;
    position: absolute;
    align-self: flex-end;
}

.preview-avatar {
    // vertical-align: middle;
    width: 45px;
    height: 45px;
    // border-radius: 50%;
}

.host-preview {
    padding: 8px 0px;
    img{
        margin-left: 5px;
        object-fit: cover;
    }
    p {
        padding: 6px 6px 0;
        
    }
}

@media (max-width: 580px) {
    .grid-container {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


