.exp-details-container {
    margin-top: 20px;

    @import "exp-gallery";
    @import "exp-booking";

    .exp-content {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        box-shadow: 0 0 4px 0px #6d6d6d;
        margin-bottom: 5px;
        position: relative;
        
        .exp-details {
            width: 60%;
            .owner {
                color:  #fd7854;
                text-decoration: none;
            }
        }
    }
}
