.home-cards-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    a {
        color: inherit;
        text-decoration: none;
    }

    h3 {
        font-size: rem(45px);
        color: $clr6;

        line-height: 0.3;
        letter-spacing: 0.02em;
    }

    h4 {
        font-size: rem(20px);
        color: $clr6;
        font-weight: 400;
        letter-spacing: 0.5em;
    }

    .home-card {
        height: 100%;
        // padding: 8px 8px;
        height: 300px;
        cursor: pointer;
        &:first-child {
            grid-column: 1 / span 2;
        }
        .preview-image {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            padding: 40px 0 0 40px;

            &.img-1 {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)),
                    url("https://res.cloudinary.com/orkofy/image/upload/v1600615333/eatso/outdoor-clif_istcxq.jpg");
                background-position: 50% 70%;
            }

            &.img-2 {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
                    url("https://res.cloudinary.com/orkofy/image/upload/v1600615231/eatso/indian-dinner_plgw3z.jpg");
            }

            &.img-3 {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
                    url("https://res.cloudinary.com/orkofy/image/upload/v1600612055/eatso/663-1_ptufl4.jpg");
            }

            &.img-4 {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
                    url("https://res.cloudinary.com/orkofy/image/upload/v1600612040/eatso/121_zqcgrt.jpg");
            }

            &.img-5 {
                background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)),
                    url("https://res.cloudinary.com/orkofy/image/upload/v1600612018/eatso/97442b84f225a84ba6cb728f81c34e46_qcps4y.jpg");
                background-position: bottom;
            }
        }
    }
}

@media (max-width: 1260px) {
    .home-cards-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 635px) {

    .home-cards-list {
        grid-template-columns: 1fr;
       
         .home-card {
        grid-column: 1 / -1;
        &:first-child {
            grid-column: 1 / -1;
        }
      
    }
        
        justify-content: center;

        h3 {
            font-size: 40px;
        }
    }

    // .home-cards-list {
    //     display: none;
    //     grid-template-columns: 1fr;
    // }

    // .home-card {
    //     grid-column: 1 / -1;
    // }
}