.host-exps {
    font-family: roboto;
      margin-bottom: 16px;
       
   

    p {
        color: #8f8e87;

    }

    span {
        margin-left: 16px;
        color: $clr2;
        font-size: 16px;
    }

    a {
        color          : inherit;
        text-decoration: none;
    }

    // .exp-card-desc {
    //     padding-top: 8px;
    //     p{
    //         padding-left: 0
    //     }
    // }
}

.host-pic {
    height: 200px;
    width: 200px;
}

.host-title {
    h2 {
        padding-left: 15px;
        align-self: center;
    }
}

.host-description {
    margin: 20px 0;
    width: 50%;
    text-align: justify;

    p{
        font-size: 16px;
    }
}