.host-exps {
    font-family: roboto;
   

    p {
        color: #8f8e87;
    }

    span {
        color: #fd7854;
    }

    a {
        color          : inherit;
        text-decoration: none;
    }
}

.host-pic {
    height: 200px;
    width: 200px;
}

.host-title {
    h2 {
        padding-left: 15px;
        align-self: center;
    }
}

.host-description {
    margin: 20px 0;
    width: 50%;
    text-align: justify;
}