.user-exp-div {
    .user-exp-type,h2 {
        padding-inline-start: 40px;
    }

    .MuiButton-text {
        background-color: $clr1;
        margin-inline-start: 40px;
        margin-block-end: 20px;
        padding: 10px;
    }

    a{
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }
    

}
.add-exp-img{
    height: 32px;
    width: 32px;
    margin-inline-end: 10px;
}

.user-exp-navbar-list{
    list-style: none;
    border-bottom: 1px solid rgb(216, 216, 216);


    li {
        padding: 10px 15px;
        margin: 0 5px;
        text-align: center;
        
        &.clicked {
            border-bottom: 2px black solid;
        }
    }

    li:hover{
        cursor: pointer;
        background-color: rgb(240, 240, 240) !important;
    }
}