* {
    box-sizing: border-box;
}


html {
    font-family: montserrat;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    // width: 90vw;
    // margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.6em;
    line-height: 1;
}

// h1 {
//     font-size: rem(25px);
//     color: #fd7854;
// }

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
    font-size: rem(14px);
    // max-width: 35ch;
}