.home {
    height     : 100vh;
    font-family: roboto;
}

.hero-image {
    background-image   : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/orkofy/image/upload/v1600615140/eatso/hero-friends_r4vyhs.jpg");
    height             : 75vh;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    align-items        : left;
    justify-content    : center;
    padding-left       : 100px;
    margin-top         : -120px;
    padding-top        : 80px;
    z-index            : 0;

    h1 {
        font-size  : rem(90px);
        line-height: 1;
        color      : #fbf9ee;
        font-family: 'prata';

    }

    h2 {
        font-size  : 45px;
        font-family: 'prata';
        color      : #fbf9ee;

    }

    span {
        color: #fd7854;
    }
}

.preview-header {

    text-align: center;

    h2 {
        font-size  : 40px;
        font-family: 'prata';
    }

}

.traditional {
    margin    : 25px 0;
    // text-align: center;

    .traditional-button {
        // background-color: #fd7854;
    }
}

.tel-aviv {
    margin    : 25px 0;
    // text-align: center;
}

.tel-aviv-button {
    // background-color:#fd7854;
}

.scenic {
    margin    : 25px 0;
    // text-align: center;

    .scenic-button {
        // background-color: #fd7854;
    }
}

.preview-cards {
    height       : 35vh;
    margin-bottom: 360px !important;

    a {
        color          : inherit;
        text-decoration: none;
    }

    h3 {
        font-size: 45px;
        color    : #fbf9ee;

        line-height   : 0.3;
        letter-spacing: 0.02em;

    }

    h4 {
        font-size     : 20px;
        color         : #fbf9ee;
        font-weight   : 400;
        letter-spacing: 0.5em;

    }

    .home-card {
        height : 100%;
        padding: 8px 8px;
    }

    .home-card-1 {
        flex: 2 1 66.6%;

    }

    .home-card-2 {
        flex: 1 1 33.3%;
    }
}

.width-1366 {
    max-width: 1366px;
    margin   : 16px auto;

}

.preview-image {
    height             : 100%;
    width              : 100%;
    background-position: center;
    background-size    : cover;
    padding            : 40px 0 0 40px;




    &.img-1 {
        background-image   : linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0)), url("https://res.cloudinary.com/orkofy/image/upload/v1600615333/eatso/outdoor-clif_istcxq.jpg");
        background-position: 50% 70%;


    }

    &.img-2 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/orkofy/image/upload/v1600615231/eatso/indian-dinner_plgw3z.jpg");

    }

    &.img-3 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/orkofy/image/upload/v1600612055/eatso/663-1_ptufl4.jpg");
    }

    &.img-4 {
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/orkofy/image/upload/v1600612040/eatso/121_zqcgrt.jpg");
    }

    &.img-5 {
        background-image   : linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/orkofy/image/upload/v1600612018/eatso/97442b84f225a84ba6cb728f81c34e46_qcps4y.jpg");
        background-position: bottom;
    }
}

.width-40 {
    width: 40%;
}

.tokyo-banner {
    padding-right: 64px;

    height             : 50%;
    width              : 100%;
    background-position: center;
    background-size    : cover;
    background-image   : url("https://res.cloudinary.com/orkofy/image/upload/v1600550880/eatso/3027583_hhubqy.jpg");

    h2 {
        font-family: 'prata';
        color      : #FFF;
        font-size  : 60px;

        span {
            color: black;
        }
    }

    .sushi-button {
        margin-left     : 180px;
        background-color: #fd7854;

    }

    .sushi-button:hover {
        background-color: #D83040;
    }
}