// @media (max-width: 1080px) {

//     .grid-container {
      
//         display: grid;
//         grid-template-columns:  repeat(4, 350px);
//         gap: 4px;
//       }
//     }



@media (max-width: 1140px) { //1260

.grid-container {
  
    display: grid;
    grid-template-columns:  repeat(2, 350px);
    justify-content: center;
    gap: 4px;
  }
}

@media (max-width: 740px) {

    .hero-image {
        height: 50vh;
    }

    .grid-container {
      
        display: grid;
        grid-template-columns:  repeat(2, 300px);
        justify-content: center;
        gap: 4px;
      }

      .preview-header {
          h2 {
              font-size: 20px;
          }
      }

      .tokyo-banner {
        background-size: contain;
      }

    }

    @media (max-width: 635px) {

        .grid-container {
      
            display: grid;
            grid-template-columns:  repeat(1, 350px);
            justify-content: center;
            gap: 4px;
          }

    }
