@media (max-width: 1236px) {
    .hero-image {
      padding-left:40px;
    }
}

@media (max-width: 940px) {
    .filter-fields {
        display: grid;
        
    grid-template-columns: repeat(2, 1fr) 64px;
    grid-template-rows:  repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    

    }

    .exp-filter {
        height: 180px;
        width: 550px;
        border-radius: 64px;
    }
    
}

@media (max-width: 1140px) {
    //1260

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 4px;
    }
}

@media (max-width: 800px) {
    .hero-image {
        height: 70vh;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        gap: 4px;
    }

    .preview-header {
        h2 {
            font-size: 20px;
        }
    }

    .tokyo-banner {
        background-size: auto;
        width: 100%;
    }

    // .exp-filter {
    //     height: 261px;
    //     width: 201px;
    //     border-radius: 0;
    // }
}

@media (max-width: 635px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 350px);
        justify-content: center;
        gap: 4px;
    }

    .filter-fields {
        display: flex;
        flex-direction: column;
     }

    .exp-filter {
        padding: 32px 24px;
        height:auto;
        width: 300px;
        border-radius: 64px;
        opacity: 0.9;
        
    }
    .exp-filter .MuiFormControl-root{
        border-right: none;
    }

    
    
    .home-cards-list .home-card .preview-image{
        padding-left: 24px;
    }

    .middle-navbar {
        .host-meal-link {
            display: none;
        }
        .divider {
            display: none;
        }
    }

    .hero-image {
        
            
            padding-left: 24px;
            height: 85vh;
        
        h1 {
            font-size: 35px;
        }
    }

    .tokyo-banner {
        padding: 18px 9px 100px 0px;
        span {
            // font-size: 100px;
        }
    }

    .preview-header {
        flex-direction: column;
        justify-content: center;
    }
}
