// Colors
$clr1: #FFBB00;
$clr2: #0C0409;
$clr3: #574f7d;
$clr4: #666666;
$clr5: #fbf9ee;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 1200px; // 800 
$narrow-breakpoint: 1360px; // 960
$normal-breakpoint: 1360px; //1100