// Colors
$clr1: #FFBB00;
$clr2: #0C0409;
$clr3: #574f7d;
$clr4: #666666;
$clr5: #fbf9ee;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 768px;
$narrow-breakpoint: 1020px;
$normal-breakpoint: 1200px;